
<div class= "span6 center">
  <img src="http://farm6.staticflickr.com/5486/11349145173_75fb8f01da.jpg" alt="takeback logo"> 
  <h1> search for projects </h1>
  <br>
    <h2><%= form_tag search_path, :method => 'get' do %>
      <p> <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "search by location", :name => nil %>
      </p></h2>
    <% end %>
  
  <br>

<!--THIS code is just showing the user's current projects-->

  <% for project in @projects %>
    <h3><%= link_to project.title, project_path(project) %> in <%= project.location %> <h3>
  <% end %>

</div>



<!--
<h1>Search For Projects</h1>

<div class="row">
  <div class="span6 offset3 center" >

    <% if signed_in? %>
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:q, "Search by Location:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    <% end %>

  </div>
</div>
-->

