<% provide(:title, 'Home') %>
<div class="center">
 <img src="http://farm6.staticflickr.com/5486/11349145173_75fb8f01da.jpg" alt="takeback logo">	

  <h1 style= "text-align: center, font-family:Helvetica"> takeback</h1>

  	<!--Turn these into links to their pages-->
  	<h3 style= "text-align:center"> ...<%= link_to "create", create_path %> a new project </h3>
  	<h3 style= "text-align:center"> ...<%= link_to "work", work_path %> on a project </h3>
  	<h3 style= "text-align:center"> ...<%= link_to "search", search_path %> for a project </h3>

  	<br><br>
  <!--<%= link_to "sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <br><br>
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>-->
</div>


