<!--EDIT PROFILE PAGE-->

<% provide(:title, "edit user") %>
<h1>update your settings</h1>

<div class="row">
  <div class="span6 offset3 center">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>


     
      <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
      </p>

      <br><br>

      <p>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
      </p>
      
      <br><br>


      <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
      </p>

      <br><br>

      <p>
      <%= f.label :password_confirmation, "confirm password" %><br>
      <%= f.password_field :password_confirmation %>
      </p>


      <p>
      <br><br>
      <%= f.submit "save changes", class: "btn btn-large btn-primary" %>
      </p>

    <% end %>
    </div>
</div>
