<!--PROFILE PAGE-->

<% provide(:title, @user.name) %>
<div class="span8 center">
    <img src="http://farm4.staticflickr.com/3715/11348850814_0a48d307ff.jpg" width="500" height="281" alt="Layne, Bob, and Chada">
      <h1>
        <%= @user.name %>'s <%= link_to "projects", work_path %>
      </h1>
</div>


<!--
  <div class="span8 center">
    <% if @user.projects.any? %>
      <h3>Projects (<%= @user.projects.count %>)</h3>
      <ol class="projects">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
  </div>
  